.from-builder {
    width: 100%;
    padding: 0 50px;
}

.titileBox {
    margin: 20px 0;
}

.titileBox h1 {
    color: #F2B84D;
}

.cardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}


@media (max-width: 1024px) {
    .titileBox h1 {
        font-size: 25px;
    }
}

@media (max-width: 520px) {
    .titileBox h1 {
        font-size: 20px;
    }
}